/*
 * I2C overlay for external edge connector (P19=SCL, P20=SDA)
 */

&pinctrl {
	i2c1_default: i2c1_default {
		group1 {
			psels = <NRF_PSEL(TWIM_SDA, 1, 0)>,   /* P20 = P1.0 */
			        <NRF_PSEL(TWIM_SCL, 0, 26)>;  /* P19 = P0.26 */
		};
	};

	i2c1_sleep: i2c1_sleep {
		group1 {
			psels = <NRF_PSEL(TWIM_SDA, 1, 0)>,
			        <NRF_PSEL(TWIM_SCL, 0, 26)>;
			low-power-enable;
		};
	};
};

&i2c1 {
	compatible = "nordic,nrf-twim";
	status = "okay";
	clock-frequency = <I2C_BITRATE_STANDARD>;
	pinctrl-0 = <&i2c1_default>;
	pinctrl-1 = <&i2c1_sleep>;
	pinctrl-names = "default", "sleep";
};
